[submodule "core"]
	path = core
	url = https://github.com/TrillionniumFoundation/hepta-paper-core-reference.git
[submodule "runtime-images/r-scientific/source-cas"]
	path = runtime-images/r-scientific/source-cas
	url = https://github.com/TrillionniumFoundation/hepta-paper-r-source-cas.git
